body{
    font-family: "Oswald", sans-serif;
}

















/* .container1{
text-align: left;
font-size: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;


}

.container2{
background-color: brown;
text-align:;
display: flex;
flex-direction: row;
font-size: 20px;
align-items: center;
justify-content: ;
border-radius: 20px;
margin: 100px;
padding:100px;
bottom: 70px;
border:30px;
width: 800px;
height:200px ;
}
1{


}

.formulario{
    display: flex;
    flex-direction:row;
    align-items: end;
}

.formulario input{
width:150px ;
height:50px ;
border-radius: 10px;
margin:10px;

} */
