<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Easy Place</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/cadastro.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script src='../script/cadastro.js'></script>
</head>
<body>
    <div class="container">
        <form class="formulario">

            <h1>Cadastre-se</h1>
            <h3>Bem-vindo ao Easy Place</h3>

            <div class="input-box">
                <label for="name"></label>
                <input type="text"name = "name" id="name" placeholder="Nome" >
                <span class="obrigatorio">campo obrigatorio</span>
            </div>

            <div class="input-box">
                <label for="email"></label>
                <input type="email"name = "email" placeholder="Email" >
                <span class="obrigatorio">campo obrigatorio</span>
            </div>

            <div class="input-box">
                <label for="password"></label>
                <input type="password"name = "password" placeholder="Senha" >
                <span class="obrigatorio">campo obrigatorio</span>
            </div>

            <div class="input-box">
                <label for="cpf_cnpj"></label>
                <input type="text"name = "cpf_cnpj" placeholder="CPF ou CNPJ" >
                <span class="obrigatorio">campo obrigatorio</span>
            </div>

            <div class="input-box">
                <label for="birthday"></label>
                <input type="date"name = "birthday" >
                <span class="obrigatorio">campo obrigatorio</span>
            </div>

            <div class="input-box">
                <ol class="termos">
                    <li>
                        <input type="checkbox"name = "terms" id="terms" >
                    </li>

                    <li class="aceite">
                        <label for="terms"><p>Política de Privacidade e Termos de Uso</p></label>
                        <span class="obrigatorio">Aceite os termos e condições para continuar</span>
                    </li>
                </ol>
            </div>
            
            <p>*campos obrigatórios</p>


            <input type="button" id="btn-enviar" value="Cadastre-se" >
        </form>
    </div>
</body>
</html>