<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Endereços</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href='../css/endereco.css'>
    <script src='../script/endereco.js'></script>
</head>
<body>

<div class="form-image">
    <img src="/img/undraw_trip_re_f724.svg" >
</div>

<div class="form">
    <form action="#">
        <div class="form-header">
            <div class="title">
                <h1 >Cadastre Seu Endereço</h1>
            </div>
            <div class="finish-button">
                <button><a href="home">Cadastrar</a></button>
            </div>
            <div class="subtitulo">
                <h2></h2>
            </div>
                </div>
                        <div class="container2">
                             <form class="formulario">
                
                                    <label for="title"></label>
                                    <input type="text" name="title" id="title" placeholder="Titulo">
                            
                                    <label for="cep"></label>
                                    <input type="text" name="Cep" id="cep" placeholder="cep">
                                    
                                    <label for="address"></label>
                                    <input type="text" name="" id="address" placeholder="Endereço">
                                    
                                    <label for="number"></label>
                                    <input type="text" name="number" id="number" placeholder="Numero">
                        
                                    <label for="complement"></label>
                                    <input type="text" name="complement" id="complement" placeholder="Complemento">
                            </form>
                        </div>
            
        </div>
    </form>
</div>






    </div>
</body>
</html>
